/* 共通 */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #414141;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 5px;
    line-height: 56px;
    font-family: 'Gothic A1', sans-serif;
}

h2 {
    font-size: 42px;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;;
}

p {
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.1em;
    font-family: 'Noto Sans JP', sans-serif;;
}

a {
    font-family: 'Noto Sans JP', sans-serif;;
}

header {
    height: 100vh;
}

.spring header, .summer header, .autumn header, .winter header {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    position: relative;
    padding-bottom: 30px;
}

.spring nav, .summer nav, .autumn nav, .winter nav{
    background-color: var(--nav-color);
    width: 10%;
    float: right;
    text-align: center;
    padding: 50px 0 0 0;
}

header img {
    width: 51px;
}

.main_title {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    padding: 70px 0 0 80px;
    margin-top: 100px;
}

.small_circle {
    position: absolute;
    left: 0;
    width: 52px;
    height: 52px;
    background-color: var(--small-circle-color);
    border-radius: 50%;
    z-index: -1;
}

.big_circle {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: var(--big-circle-color);
    border-radius: 50%;
    z-index: -2;
}

.link {
    background-image: var(--link-img);
    background-repeat: no-repeat;
    width: 231px;
    height: 44px;
    display: flex;
    justify-content: center;
}

.link a {
    letter-spacing: 0.2em;
    display: block;
    align-self: center;
}

.link a img {
    width: 18px;
}

@media (max-width: 400px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
    }

    h2 {
        font-size: 22px;
    }

    .main_title {
        padding: 20px 0 0 20px;
    }

    .small_circle {
        width: 17px;
        height: 17px;
    }

    .big_circle {
        width: 32px;
        height: 32px;
        left: 5px;
    }

    .spot p {
        font-size: 18px;
    }
}

/* 変数 */
.index {
    --small-circle-color: #FABE00;
    --big-circle-color: #FDFFA9;
    --footer-color : #FDFFA9;
    --border-color: #FABE00;
}

.spring {
    --nav-color: #FFBCCC;
    --small-circle-color: #FF7575;
    --big-circle-color: #FFBCCC;
    --link-img: url("images/spring_hp.png");
    --footer-color: #FFBCCC;
    --border-color: #FF7575;
}

.summer {
    --nav-color: #CEF9FF;
    --small-circle-color: #89C3EB;
    --big-circle-color: #CEF9FF;
    --link-img: url("images/summer_hp.png");
    --footer-color: #CEF9FF;
    --border-color: #89C3EB;

}

.autumn {
    --nav-color: #CC8670;
    --small-circle-color: #A80606;
    --big-circle-color: #CC8670;
    --link-img: url("images/autumn_hp.png");
    --footer-color: #CC8670;
    --border-color: #A80606;

}

.winter {
    --nav-color: #5468AD;
    --small-circle-color: #5468AD;
    --big-circle-color: #A0B5BC;
    --link-img: url("images/winter_hp.png");
    --footer-color: #A9B5BC;
    --border-color: #5468AD;
}

/* 季節共通 */

.season_title {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 20px;
}

.caption {
    position: absolute;
    left: 13%;
    bottom: 41%;
    margin-bottom: -20%;
}

.caption p {
    font-size: 22px;
    letter-spacing: 0.2em;
    line-height: 46px;
}

.spring nav li, .summer nav li, .autumn nav li, .winter nav li {
    padding-bottom: 50px;
    text-decoration: none;
}

.spring a, .summer a, .autumn a, .winter a {
    text-decoration: none;
}


/* index */

.index nav {
    padding: 28px 50px 20px 0px;
}

.index nav ul{
   display: flex;
   justify-content: flex-end;
   gap: 100px;
}

.index nav li {
    list-style: none;
    text-align: center;
}

.index nav a {
    text-decoration: none;
    color: #FF7575;
}

#firstview {
    text-align: right;
}

header {
    overflow: hidden;
}

#spring_view, #summer_view, #autumn_view, #winter_view{
    text-align: right;
    padding-top: 115px;
    margin-right: -10%;
    overflow: hidden;
}

.first_title {
    position: absolute;
    letter-spacing: 0.3em;
    transform: translate(30%, -95%);
}

.first_title p{
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.3em;
}

.nav2 {
    display: none;
    position: absolute;
    bottom: 0%;
    width: 100%;
}


.nav2 ul {
    display: flex;
    gap: 15px; 
    justify-content: center;   
}

.nav2 li {
    padding: 0 10px;
    border-left: 2px var(--border-color) solid;
    border-right: 2px  var(--border-color) solid;
}

.nav2 a {
    text-decoration: none;
}

/* @media (max-width: 995px) {
    h1 {
        font-size: 22px;
    }

    .index nav {
        display: none;
    }

    #firstview canvas {
        width: 1184px;
        height: 568px;
        transform: scale(0.6) translate(-50px, -50px);
    }
} */

/* @media(max-width: 786px) {
    #firstview canvas {
        transform: scale(0.6) translate(-400px, -50px);
    }
}

@media(max-width: 582px) {
    #firstview canvas {
        transform: scale(0.4) translate(-700px, -50px);
    }
} */

@media(max-width: 400px) {
    .nav2 {
        display: inline;
    }

    #firstview {
        width: 1184px;
        height: 568px;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    #firstview canvas {
        position: absolute;
        bottom: 15%;
        left: 0;
        transform: scale(0.7) rotate(-90deg) translate(100px, -98%);
    }

    #spring_view , #summer_view, #autumn_view, #winter_view{
        width: 1184px;
        height: 568px;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    #spring_view canvas, #summer_view canvas, #autumn_view canvas, #winter_view canvas {
        position: absolute;
        bottom: 25%;
        left: 0;
        transform: scale(0.7) rotate(-90deg) translate(100px, -98%);
        z-index: -1;
    }

    .season_title {
        width: 70%;
        left: 50%;
        transform: translate(-50% ,0);
    }

    .spring .season_title {
        top: 30%;
    }

    .summer .season_title {
        top: 50%;
    }

    .autumn .season_title {
        top: 30%;
    }

    .winter .season_title {
        top: 30%;
    }

    nav {
        display: none;
    }

    .first_title {
        position: relative;
        transform: translate(18px, -305px);
    }

    .first_title p{
        font-size: 16px;
        letter-spacing: 0.1em;
        line-height: 30px;
    }

    .caption {
        bottom: 25%;
        left: 6%;
    }

    .winter .caption p{
        color: #fff;
    } 
}

#introduction {
    padding: 0 0 84px 0;
    position: relative;
}


#introduction .main_title {
    width: 50%;
}

.sub_title {
    position: relative;
    max-width: 900px;
    left: 50%;    
    transform: translate(-50%);
}

#introduction .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.index .contents {
    padding-top: 73px;
}

.talk_content {
    background-image: url("images/hukidashi.png");
    background-repeat: no-repeat;
    width: 286px;
    height: 66px;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    margin-top: 5px;
}

.talk :nth-child(2n){
    background-image: url("images/hukidashi_right.png");
    margin-left: 100px;
}

.talk_content p {
    color: #FABE00;
}

#introduction .text {
    width: 388px;
    padding-left: 80px;
}

.text p {
    padding-top: 33px;
}

@media (max-width: 400px) {
    .talk_content {
        width: 200px;
        background-size: contain;
        padding-top: 5px;
    }

    #introduction .contents {
        padding-top: 30px;
    }

    #introduction .text {
        padding: 8% 8%;
    }

    #introduction .text h3 {
        text-align: center;
    }

    .text p {
        padding-top: 20px;
    }
}

#merit {
    background-image: url("images/top_bg.png");
    padding: 220px 0;
    background-repeat: no-repeat;
    background-size: cover;

}

#merit h3 {
    font-size: 24px;
}

#merit .contents {
    display: flex;
    flex-wrap: wrap;
    margin: 0 150px;
    margin-right: 180px;
    justify-content: center;
}

#merit .content_out {
    position: relative;
    padding: 30px;
}

#merit .content {
    background-color: #fff;
    width: 250px;
}

.number p{
    color: #fff;
    font-size: 50px;
    letter-spacing: 0;
    -webkit-text-stroke: 1px #414141;
    overflow: visible;
    position: absolute;
    top: 15px;
    left: 8px;
}

#merit .detail {
    text-align: center;
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

#merit .detail img {
    width: 60%;
    padding: 20px;
}

#merit .detail p {
    letter-spacing: 0;
    line-height: 24px;
    font-size: 15px;
    padding: 10px 0;
}

@media (max-width: 400px) {
    #merit {
        background-size: cover;
    }
    
    .merit_title {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

    .merit_title span {
        display: inline-block;
    }

    #merit .contents {
        margin: 0;
    }

    #merit .content_out {
        padding: 10px;
    }

    #merit .detail {
        height: auto;
    }

    #merit .content {
        width: 160px;
    }

    #merit .number p {
        font-size: 24px;
        top: 20px;
        left: 20px;
    }

}

#select {
    padding-bottom: 200px;
}

#select .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#select h2 {
    text-align: left;
}

#select .sub_title {
    overflow: visible;
    padding-left: 100px;
}

#select .text p {
    padding-left: 100px;
}

#select .text {
    width: 45%;
}

.season {
    width: 40%;
    min-width: 300px;
}

.season1 {
    display: flex;
}

.season2 {
    display: flex;
}

.spring {
    position: relative;
}

.summer {
    position: relative;
}

.autumn {
    position: relative;
}

.winter {
    position: relative;
}

.spring img {
    width: 90%;
}

.summer img{
    width: 90%;
}

.autumn img{
    width: 90%;
}

.winter img{
    width: 90%;
}

.spring_text{
    position: absolute;
    top: 3px;
    left: -45px;
    z-index: 3;
}

.summer_text{
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 3;
}

.autumn_text{
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 3;
}

.winter_text{
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 3;
}

@media (max-width: 400px) {
    #select {
        padding-bottom: 100px;
    }

    #select .text {
    width: 90%;
    }

    #select .main_title {
        width: 70%;
        margin: 0 auto;
    }
    
    #select h2 {
        text-align: center;
    }


    .select_title span{
        display: inline-block;
    }

    #select .text p {
        padding: 20px 10px 40px 10px;
    }

    #select .season {
        width: 95%;
        justify-content: center;
    }
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    position: relative;
    justify-content: center;
    padding: 50px 0 ;
}

.three_photos {
    width: 30%;
}

.two_photos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.two_photos img {
    width: 49%;
}

.photo6 {
    padding-top: 2%;
}

.kakko_start {
    position: absolute;
    top: 2%;
    left: 17%;
}

.kakko_end {
    position: absolute;
    right: 14%;
    bottom: 2%;
}

.kakko_start img{
    width: 80%;
}

.kakko_end img {
    width: 80%;
    transform: scale(-1, -1);
}

@media (max-width: 400px) {
    .photos {
        padding: 10%;
        margin-bottom: 100px;
    }

    #photo .three_photos {
        width: 100%
    }

    #photo img {
        width: 100%;
    }

    #photo .two_photos {
        padding-bottom: 10px;
        gap: 10px;
    }

    .kakko_start {
        top: 10px;
        left: 10px;
    }

    .kakko_end {
        bottom: 10px;
        right: 10px;
    }
}

footer {
    background-color: var(--footer-color);
}

footer .contents {
    display: flex;
    justify-content: space-between;
    padding: 80px 120px 0px 120px;
    flex-wrap: wrap;
}

.footer_content {
    width: 200px;
}

.footer_content p {
    border-top: 1px solid #414141;
    border-bottom: 1px solid #414141;
    text-align: center;
    margin-bottom: 18px;
}

footer a {
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
}

.top_return {
    text-align: end;
    padding-top: 45px;
}

.top_return img {
    width: 16px;
}

.copyright {
    text-align: center;
}

@media (max-width: 400px) {
    footer .contents {
        padding: 0 7%;
    }

    .footer_content {
        width: 150px;
    }
}


/* spring */
.spring .bg1, .spring .bg1-2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.spring .bg1-2{
    display: none;
}
.spring .bg2 {
    position: absolute;
    right: -60px;
    top: 20%;
    z-index: -3;
}

.spring .bg3 {
    position: absolute;
    bottom: 15%;
    z-index: -3;
}

.spring .bg4 , .spring .bg4-2{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.spring .inside {
    display: flex;
    padding-top: 100px;
    justify-content: start;
    flex-wrap: wrap;
}

.spring .spot {
    display: flex; 
    align-items: center;
    margin: 65px 0 0 0;
}

.spring .spot img{
    width: 45px;
    padding-right: 5px;
    border-bottom: 5px solid #FF7575;
}

.spring .spot p {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 11px;
    border-bottom: 5px solid #FF7575;
}

.spring .contents {
    position: relative;
}

.spring .point , .spring .point2{
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
}

.spring .point p, .spring .point2 p{
    background-color: #fff;
    padding: 10px;
}

.spring .point2 p {
    background-color: #FFE8ED;
    margin-left: 5px;
}

.spring .points {
    width: 35%;
    position: relative;
}

.spring .content {
    border: 4px solid #FF7575;
    padding: 60px 60px 30px 60px;
}

.spring .point p, .spring .point2 p{
    font-size: 24px;
}

.spring .point span, .spring .point2 span{
    font-size: 42px;
}

.spring .title p{
    font-size: 24px;
    padding-bottom: 13px;
}

.flower_pos {
    position: relative;
    padding-top: 80px;
    width: fit-content;
}

@media (max-width: 400px) {


    .spring .contents {
        position: static;
    }

    .spring .bg1 {
        top: 25%;
        left: -3%;
        transform: rotate(-90deg) scale(1, 2);
    }
    .spring .bg1-2 {
        top: 35%;
        right: -40%;
        display: inline;
        transform: rotate(-90deg) scale(1, 1.5);
        z-index: -3;
    }

    .spring .bg2 {
        top:30%;
    }

    .spring .bg3 {
        bottom: 0;
        transform: scale(1, 0.7) translate(0%, 0);
    }

    .spring .bg4 {
        top: 76%;
        z-index: -3;
    }

    .spring .bg4-2 {
        top: 86%;
        z-index: -3;
    }

    #atuginouen .point2 p {
        background-color: #fff;
    }

    #syouwakinen .point2 p {
        background-color: #FFBCCC;
    }

    .spring .spot {
        margin: 0;
    }

    .spring .spot p {
        padding-bottom: 4px;
        font-size: 18px;
    }
    
    .spring .spot img {
        width: 38px;
    }

    .spring .inside {
        padding-top: 30px;
    }

    .spring .points {
        width: 95%;
    }

    .spring .content {
        padding: 50px 5px 30px 10px;
    }

    .spring .point p, .spring .point2 p{
        font-size: 18px;
    }
    
    .spring .point span, .spring .point2 span{
        font-size: 22px;
    }

    .spring .point p, .spring .point2 p{
        padding: 3px;
    }

    .spring .link {
        margin: 20px auto;
    }
}

#yoyogikouen .all_content , #atuginouen .all_content {
    margin-left: 15%;
}

#yoyogikouen .spot, #atuginouen .spot {
    padding-left: 20px;
}

#yoyogikouen .inside, #atuginouen .inside {
    flex-direction: row-reverse;
}

#yoyogikouen .points, #atuginouen .points {
    padding-left: 20px;
}

#yoyogikouen .image, #atuginouen .image1, #atuginouen .image2 {
    margin-left: -40px;
    position: relative;
}

.flower1 {
    position: absolute;
    top: 0;
    right: 0;
}

#yoyogikouen .image img {
    width: 90%;
}

#yoyogikouen .flower_pos {
    padding-right: 150px;
}

#yoyogikouen .link {
    margin-left: 20px;
}

.flower2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
}

@media (max-width: 400px) {
    #yoyogikouen .all_content , #atuginouen .all_content {
        margin: 5%;
    }

    #yoyogikouen .point2 p {
        background-color: #fff;
    }
    
    #yoyogikouen .image, #atuginouen .image1, #atuginouen .image2 {
        margin-left: 0;
    }

    #yoyogikouen .image img {
        width: 100%;
    }

    #yoyogikouen .link {
        width: 250px;
        margin: 20px auto;
    }

    .flower1 {
        right: 80%;
    }

    .flower2 {
        right: 0;
        top: 38%;
        z-index: -1;
    }

    .flower1 img, .flower2 img, .flower3 image{
        transform: scale(0.8);
    }

    
}

#syouwakinen {
    position: relative;
}

#syouwakinen .all_content {
    margin-right: 15%;
}

#syouwakinen .flower_pos {
    margin: 0 0 0 auto;
    padding-left: 250px;
}

#syouwakinen .spot {
    justify-content: right;
}

#syouwakinen .inside {
    justify-content: end;
}

#syouwakinen .image1 {
    position: relative;
}

#syouwakinen .image2 {
    margin-right: -90px;
}

.flower3 {
    position: absolute;
    z-index: -1;
}

.flower4 {
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 400px) {
    #syouwakinen .all_content {
        margin: 5%;
    }

    #syouwakinen .spot {
        justify-content: left;
    }

    #syouwakinen .image2 {
        margin-right: 0px;
    }

    #syouwakinen .image1 img ,#syouwakinen .image2 img{
        width: 100%;
    }

    .flower3 img, .flower4 img {
        transform: scale(0.7);
    }

    #syouwakinen .image1 {
        position: static;
    }

    .flower3 {
        right: 0;
        top: 12%;
    }

    .flower4 {
        top: 92%;
        left: -5%;
    }

}

#atuginouen {
    padding-bottom: 200px;
}

#atuginouen .image1 {
    position: relative;
}

.strawberry {
    position: absolute;
    right: 2px;
    top: 10px;
    transform: rotate(10deg);
}

@media (max-width: 400px) {
    #atuginouen .image1 {
        position: static;
    }

    .strawberry img {
        transform: scale(0.7);
    }

    .strawberry {
        right: -15%;
        top: 78%;
        transform: rotate(-10deg);
    }

    footer {
        padding-top: 50px;
    }
}

/* summer */
.summer {
    position: relative;
}

.summer .bg1 {
   position: absolute;
    z-index: -3;
    top: 25%;
    left: 10%;
}

.summer .bg2 {
    position: absolute;
    z-index: -3;
    left: 0;
}

.summer .bg3 {
    position: absolute;
    z-index: -3;
    right: -30px;
    top: 55%;
}

.summer .bg4 {
    position: absolute;
    z-index: -3;
    left: -40px;
    bottom: 350px;
}

.summer .bg4 img {
    width: 100%;
}



.summer .tag {
    background-image: url("images/tag.png");
    background-repeat: no-repeat;
    width: 255px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.tag p {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

.summer .title {
    display: flex;
    align-items: end;
}

.summer .title p {
    letter-spacing: 0.1em;
    font-size: 24px;
    line-height: 2;
    width: 340px;
    border-bottom: #414141 solid 2px;
}

.summer .title span {
    display: inline-block;
    border-bottom: #414141 solid 2px;
    width: 340px;
}

.summer .title img {
    width: var(--point-size);
    --point-size: 110px;
}

.summer .detail {
    padding: 16px 0 0 110px;
    width: 340px;
}

#sumidagawa .contents , #sarushima .contents, #campingGreen .contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

#sarushima .contents {
    flex-direction: row-reverse;
}

.hanabi {
    position: absolute;
    top: 0;
    right: 0;
}

.hanabi img {
    width: 218px;
}

#sumidagawa {
    position: relative;
}

#sumidagawa .tag, #campingGreen .tag{
    margin: 65px 15% 70px auto;
}

.summer .point1, .summer .point2{ 
    width: 100%;
}

.summer .pictures {
    width: 45%;
}

.summer .three_photos {
    width: 100%;
}

.summer .two_photos {
    width: 90%;
}

#sumidagawa .link, #campingGreen .link {
    margin: 30px 0 0 15% ;
}

#sarushima .tag {
    margin: 65px auto 70px 10%;
}

#sarushima .pictures {
    position:relative;
}


.ukiwa {
    position: absolute;
    right: 0;
    top: 55%;
    z-index: -4;
}

#sarushima .link {
    margin: 30px 10% 0 auto ;
}

#campingGreen {
    padding-bottom: 200px;
}

#campingGreen h2{
    margin-top: 0;
}

.tent {
    position: absolute;
    bottom: 330px;
}

@media (max-width: 400px) {
    .summer .tag {
        transform: scale(0.7);
    }

    #sumidagawa .tag, #sarushima .tag, #campingGreen .tag {
        margin: 10px 0 0 0;
    }

    .summer .contain {
        width: 100%;
    }

    .summer .title {
        align-items: center;
    }

    .summer .title img {
        transform: scale(0.8);
    }

    .summer .title p {
        font-size: 18px;
        width: 260px;
    }

    .summer .title span {
        width: 260px;
    }

    .summer .contain {
        display: contents;
    }

    .summer .pictures {
         display: contents;
    }

    .summer .point1 {
        order: 1;
    }

    .summer  .photo1{
        order: 2;
    }

    .summer .point2 {
        order: 3;
    }

    .summer .three_photos {
        display: contents;
    }

    .summer .two_photos {
        order: 4;
    }

    .summer .point1 .detail {
        margin-top: -20px;
    }

    .summer .detail {
        padding-right: 10px;
        width: auto;
    }

    #sumidagawa .link , #campingGreen .link{
        margin: 20px auto;
    }

    #sarushima .link {
        margin: 20px auto;
    }

    .hanabi {
        top: 3%;
        right: 10%;
    }
    .hanabi img{
        width: 60px;
    }

    .ukiwa {
        top: 39.5%;
        right: 10%;
        z-index: -1;
    }

    .ukiwa img{
        width: 65px;
    }

    .tent {
        bottom: 440px;
        left: 10%;
    } 

    .tent img {
        width: 60px;
    }
}

/* autumn */
.autumn {
    position: relative;
}

.autumn .bg1 {
    position: absolute;
    z-index: -3;
    top: 22%;
    right: -70px;
}

.autumn .bg2 {
    position: absolute;
    z-index: -3;
    top: 25%;
    left: -20px;
}

.autumn .bg3 {
    position: absolute;
    z-index: -3;
    right: -80px;
    bottom: 0;
}

.autumn .bg4 {
    position: absolute;
    z-index: -3;
    left: 0;
}

.autumn .bg3 img , .autumn .bg4 img{
    transform: scale(-1,1);
}

.autumn .bg5 {
    position: absolute;
    z-index: -3;
    left: 20%;
}



.autumn .tag {
    background-image: url("images/tag2.png");
    background-repeat: no-repeat;
    width: 257px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 0 20px;
    margin: 42px 0 50px 20%;
}

.autumn .tag p {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

.ityou1 {
    position: absolute;
    top: 30%;
}

.ityou2 {
    position: absolute;
    z-index: -1;
    right: 7%;
    bottom: 0;
    transform: scale(-1, -1);
}

.autumn .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 80%;
}

.autumn .point1, .autumn .point2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.autumn .image1 {
    width: 60%;
}

.autumn .image2 {
    width: 75%;
}

.autumn .title {
    width: 60%;
}

.autumn .title p{
    letter-spacing: 0.1em;
    font-size: 24px;
    line-height: 2;
    width: 340px;
    margin-bottom: 5px;
}

.autumn .detail {
    width: 40%;
    margin-top: -10%;
    margin-right: 20%;
}


#meijijinguu {
    position: relative;
}

#hakone {
    position: relative;
}

#rental {
    position: relative;
}

#rental .image1 {
    width: 80%;
}

.momizi1 {
    position: absolute;
    right: 20%;
    bottom: 0;
}

.momizi2 {
    position: absolute;
    top:22%;
    left: 10%;
}

#hakone .image2 {
    position: relative;
    padding-bottom:100px;
}

.autumn .link {
    margin-left: 20%;
}

#rental .link {
    padding-bottom: 200px;
}

.pumpukin {
    position: absolute;
    bottom: 328px;
    right: 10%;
}

.momizi3 {
    display: none;
}

@media(max-width: 987px) {
    .autumn .content {
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    .autumn .tag {
        transform: scale(0.7);
        margin: 20px 0;
    }

    .autumn .content {
        width: 95%;
        margin: 0 auto;
    }

    .autumn .image1 {
        width: 95%;
        text-align: center;
    }

    .autumn .image1 img, .autumn .image2 img {
        width: 100%;
    }
    
    .autumn .image2 {
        width: 95%;
        padding-top: 30px;
    }    

    .autumn .title {
        width: 100%;
        margin: 0 auto;
    }

    .autumn .title img {
        width: 100%;
        margin: 0 auto;
    }
    
    .autumn .title p{
        font-size: 17px;
        width: 100%;
        margin-bottom: 5px;
    }
    
    .autumn .detail {
        width:75%;
        margin: -20% auto 0 0;
    }

    .autumn .point1 {
        width: 100%;
        margin: 0 auto;
    }

    .autumn .point1, .autumn .point2 {
        padding: 20px 10px;
    }

    #hakone .image2 {
        padding-bottom: 0;
    }

    .ityou1 {
        top: 12%;
        right: 15%;
        transform: rotate(-90deg)
    }

    .ityou1 img {
        width: 70px;
    }

    .ityou2 {
        bottom: 3%;
        right: 5%;
    }
    .ityou2 img {
        width: 120px;
    }

    .momizi1 {
        top: 12%;
        right: 15%;
    }

    .momizi2 {
        display: none
    }

    .momizi3 {
        display: inline;
        position: absolute;
        bottom: 5%;
        right: 1%;
    }


    .momizi1 img {
        width: 65px;
        transform: rotate(30deg) scale(-1, 1);
    }

    .pumpukin {
        bottom: 440px;
    }
}

/* winter */
.winter .bg1 {
    position: absolute;
    z-index: -3;
    left: 10%;
    top: 20%;   
}

.winter .bg2 {
    position: absolute;
    z-index: -3;
    left: 0;
    top: 25%;
}

.winter .bg3 {
    position: absolute;
    z-index: -3;
    right: -60px;
    top: 40%;
}

.winter .bg4 {
    position: absolute;
    z-index: -3;
    left: 20%;
    top: 25%;
}

.ornament1 {
    position: absolute;
    top: 0;
    right: 5%;
}

.ornament2 {
    position: absolute;
    left: 8%;
    top: 25%;
}

.torii {
    position: absolute;
    top: 17%;
    left:15%;
}

#midtown, #kamakura, #titibu {
    position: relative;
}

.winter nav li, .winter nav a {
    color: #fff;
}

.winter .tag {
    background-image: url("images/tag3.png");
    background-repeat: no-repeat;
    width: 252px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 0 20px;
    margin: 42px 0 50px 15%;
}

#kamakura .tag {
    margin: 42px 15% 50px auto;
}

.winter .point1 {
    background-image: url("images/point_bg.png");
    background-repeat: no-repeat;
    width: 503px;
    padding: 9%;

    padding-top: 9%;
}

.winter .point1 .detail {
    width: 362px;
}

.winter .point1 p {
    color: #fff;
}

.winter .title {
    padding-bottom: 20px;
    overflow: visible;
}

.winter .title p {
    padding-top: 5px;
    height: 50px;
}

.winter .point1 span {
    color: #fff;
    font-size: 42px;
}

.winter .content {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#kamakura .content {
    flex-direction: row-reverse;
}

.winter .image1 {
    width: 60%;
}

.winter .image1 img {
    width: 100%;
}

.winter .image2 {
    width: 54%;
    gap: 1%;
    display: flex;
    align-items: center;
}

.winter .point1 {
    margin-bottom: 5px;
}

.winter .point2 span {
    font-size: 42px;
}

.winter .title p{
    font-size: 22px;
}

.winter .point2 {
    width: 503px;
    margin: 0 7% 0 7%;
}

.winter .point2 .detail {
    width: 440px;
}

.winter .two_images {
    display: flex;
    gap: 5px;
}

.winter .link {
    margin-top: 50px;
}

.winter .snowman {
    width: 80px;
    padding-top: 30px;
    margin: 0 100px 0 auto;
}

@media (max-width: 400px) {
    .ornament1 {
        top: 15%;
        left: 10%;
    }
    
    .ornament2 {
        top: 36%;
        left: 67%;
    }

    .ornament1 img, .ornament2 img{
        width: 38px;
    }

    .torii {
        left: 60%;
        }

    .torii img {
        width: 73px;
    }

    .winter .snowman {
        margin-right: 0;
    }

    .snowman img {
        width: 45px;
    }

    .winter .tag {
        transform: scale(0.7);
        margin: 20px 0;
    }

    #kamakura .tag {
        margin: 20px 0;
    }

    .winter .content {
        flex-wrap: wrap;
        width: 100%;
    }

    .winter .point1 {
        background-image: url("images/point_bg_sp.png");
        width: 100%;
        margin: 0 auto;
        padding-bottom: 0%;
    }

    .winter .point1 .title {
        margin: 20px 55px 0 55px;
    }

    .winter .point1 .detail {
        width: 250px;
        margin: 0 20px 0 0;
        padding-bottom: 0;
    }

    .winter .title p{
        font-size: 18px;
    }
    .winter .point1 span {
        color: #fff;
        font-size: 22px;
    }

    .winter .title {
        padding-bottom: 0;
    }

    .winter .point2 span {
        font-size: 22px;
        height: fit-content;
    }
    
    .winter .point1 .detail {
        padding: 0 30px 70px 30px;
    }

    .winter .image1 {
        width: 90%;
        margin: 0 auto;
    }

    .winter .point2 {
        padding: 30px;
        margin: 0;
        display: contents;
    }

    .winter .point2 .title {
        padding-top: 20px;
    }

    .winter .point2 .detail {
        width: 100%;
        padding-bottom: 10px;
    }

    .winter .point2_set{
        order: 1;
    }

    .winter .link {
        margin: 20px auto;
        order: 3;
    }

    .winter .image2 {
        order: 2;
    }

    .winter .image2 {
        width: 90%;
        margin: 0 auto;
    }


}